[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/bjornbytes/lovr/deps/glfw
[submodule "deps/msdfgen"]
	path = deps/msdfgen
	url = https://github.com/bjornbytes/lovr/deps/msdfgen
[submodule "deps/openxr"]
	path = deps/openxr
	url = https://github.com/bjornbytes/lovr/deps/openxr
[submodule "deps/glslang"]
	path = deps/glslang
	url = https://github.com/bjornbytes/lovr/deps/glslang
[submodule "deps/vulkan-headers"]
	path = deps/vulkan-headers
	url = https://github.com/bjornbytes/lovr/deps/vulkan-headers
[submodule "plugins/lua-enet"]
	path = plugins/lua-enet
	url = https://github.com/bjornbytes/lovr/plugins/lua-enet
[submodule "plugins/lovr-http"]
	path = plugins/lovr-http
	url = https://github.com/bjornbytes/lovr/plugins/lovr-http
[submodule "deps/tracy"]
	path = deps/tracy
	url = https://github.com/bjornbytes/lovr/deps/tracy
[submodule "deps/joltc"]
	path = deps/joltc
	url = https://github.com/bjornbytes/lovr/deps/joltc
